<%inherit file="base.html"/>

<%def name="title()">
<div style="background-color:#333">
<p style="padding-bottom:16px;padding-top:16px;">
<a href="/"
style="
color:#FFF;
font-size:20px;
margin-left:15px;
"
><strong>买买提</strong></a>
<a href="/question/add" class="pull-right btn btn-success" style="
margin-right:18px;margin-top:-2px;
"
>我要「求推荐」</a>
</p>
</div>

<ul class="nav nav-tabs">
    <% 
    TAG_POS = 3
    if not is_mobile:
        TAG_POS = 15
    %>

    %for t in tags[:TAG_POS]:
    <li role="presentation"
        %if tag == t.get('title'):
            class="active"
        %endif
    ><a href="/?tag=${t.get('title')}">${t.get('title')}</a></li>
    %endfor

    %if len(tags) > TAG_POS:
      <li role="presentation" class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          更多<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            %for t in tags[TAG_POS:]:
            <li style="padding-top:5px; padding-bottom:5px;" 
                %if tag == t.get('title'):
                    class="active"
                %endif
            ><a href="/?tag=${t.get('title')}">${t.get('title')}</a></li>
            %endfor
        </ul>
      </li>
      %endif
</ul>

</%def>

<%def name="content()">



<%include file="widget_questions.html" args="questions=questions"/>

<nav>
  <ul class="pager">
    <li><a href="${prev}">上一页</a></li>
    <li><a href="${next}">下一页</a></li>
  </ul>
</nav>
##%if len(questions) == PAGE_SIZE:
##%endif

</%def>


<%def name="footer()">
%if not is_mobile:
    <footer><a class="pull-right" style="margin-right:10px; margin-top:30px;" href="http://www.miitbeian.gov.cn/"><small>京ICP备06061688号-2</small></a></footer>
%endif
</%def>
