<%inherit file="base.html"/>

<%def name="title()">
<%include file="widget_question_title.html" args="question=question"/>
</%def>

<%def name="content()">
        %for i, option in enumerate(question.options):
                %if option.link:
                    <a href="${option.link}">
                    <h5><small>${i+1}.</small> ${option.title} »</h5>
                    </a>
                %else:
                    <h5><small>${i+1}.</small> ${option.title}</h5>
                %endif

                %if option.get('img'):
                    <p><a href="${option.get('img').url}">
                    <img src="${option.get('img').get_thumbnail_url(width='100', height='100')}"></img>
                    </a></p>
                %endif

                <span><small>${option.get('nickname') or ''}</small></span>


                %for review in option.reviews:
                    <h5><small>${review.title}</small></h5>
                %endfor

                %if option.author and user.id == option.author.id:
                <a href="/option/${option.id}/update">编辑</a>
                %endif
                <hr>
        %endfor

        <a href="/question/${question.id}/option/add"><button type="button" class="btn btn-success">+ 我要推荐</button> 
        </a>
</%def>
