<%inherit file="base.html"/>
<%def name="title()">
<%include file="widget_question_title.html" args="question=question"/>
</%def>

<%def name="content()">
        <!--script>
        $(".option-up").click(function(){
            alert(1);
            $.get($(this).attr(url));
            return false;
        });
        </script-->
        %for i, option in enumerate(question.options):
                <h5 id="${option.id}">
                    %if option.link:
                        <a href="${option.link}">
                    %endif

                    <!--small>${i+1}.</small--> ${option.title} 

                    %if option.link:
                        »</a>
                    %endif

                    <a class="option-up" href="/option/${option.id}/up" >
                    <span class="glyphicon glyphicon-hand-up pull-right"  
                    style="font-size:18px; padding-right:5px;
                    %if user.id in (option.get('vote_users') or []):
                        color:#FA5A1C;
                    %else:
                        color:#777;
                    %endif
                    " 
                    aria-hidden="true"></span>
                    <span class="pull-right" style="color:#777;padding-right:4px;">${len(option.get('vote_users') or []) or ''}</span>
                    </a>
                </h5>

                %if option.get('img'):
                    <p style="margin-top:10px;"><a href="${option.get('img').url}">
                    <img src="${option.get('img').get_thumbnail_url(width='290', height='290')}"></img>
                    </a></p>
                %endif

                <% from lib.utils import mtimeformat %>
                %if option.get('nickname'):
                <p style="margin-top:-8px;margin-bottom:-1px;"><span><small>${option.get('nickname') or ''} ${mtimeformat(option.createdAt, True)}</small></span></p>
                %endif


                %for review in option.reviews:
                    <h5><small>${review.title}</small></h5>
                %endfor

                %if option.can_edit(user): 
                <a href="/option/${option.id}/update">编辑</a>
                %endif
                <hr>
        %endfor

        <a href="/question/${question.id}/option/add"><button type="button" class="btn btn-success">+ 我要推荐</button> 
        </a>
</%def>
