<%inherit file="base.html"/>

<%def name="title()">
<%include file="widget_question_title.html" args="question=question"/>
</%def>

<%def name="content()">
        %for i, option in enumerate(question.options):
                %if option.link:
                    <a href="${option.link}">
                    <h5><small>${i+1}.</small> ${option.title} »</h5>
                    </a>
                %else:
                    <h5><small>${i+1}.</small> ${option.title}</h5>
                %endif

                <% from lib.utils import mtimeformat %>
                %if option.get('nickname'):
                <p style="margin-top:-8px;margin-bottom:-1px;"><span><small>${option.get('nickname') or ''} ${mtimeformat(option.createdAt, True)}</small></span></p>
                %endif

                %if option.get('img'):
                    <p style="margin-top:10px;"><a href="${option.get('img').url}">
                    <img src="${option.get('img').get_thumbnail_url(width='250', height='250')}"></img>
                    </a></p>
                %endif

                %for review in option.reviews:
                    <h5><small>${review.title}</small></h5>
                %endfor

                %if option.can_edit(user): 
                <a href="/option/${option.id}/update">编辑</a>
                %endif
                <hr>
        %endfor

        <a href="/question/${question.id}/option/add"><button type="button" class="btn btn-success">+ 我要推荐</button> 
        </a>
</%def>
