<% from lib.utils import mtimeformat %>        
<div class="jumbotron" style="background-color:#333">
    <div class="container" style="padding-left:0px;">
            <h4 style="color:#fff">${question.title}</h4>
            %if question.can_delete(user):
                <a href="javascript:if(confirm('确认要删除?'))location='/question/${question.id}/delete'">删除</a>
            %endif
            %if user.is_admin():
            <p>
                    <form method="POST" action="/question/${question.id}/tag/update">
                    <div class="form-group">
                    <label style="color:#FFF">标签<small>（选填,空格区隔）</small></label>
                    <input name="tags" class="form-control" value="${question.tags}"></input>
                    </div>
                    <input type="submit" class="btn btn-success " value="提交"></input>
                    </form>
            </p>
            %endif

    </div>
</div>
