<% from lib.utils import mtimeformat %>        
<div class="jumbotron" style="background-color:#333">
    <div class="container" style="padding-left:0px;">
            <h4 style="color:#fff">${question.title}</h4>
            %if user.is_admin()
            <p>
                    <form method="POST" action="/">
                    <div class="form-group">
                    <label>标签<small>（选填,空格区隔）</small></label>
                    <input name="tags" class="form-control" value="${question.tags}"></input>
                    </div>
                    <input type="submit" class="btn btn-success " value="提交"></input>
                    </form>
            </p>
            %endif

            <p style="font-size:15px;">
            <strong>
            <a href="/"><!--span style="font-size:21px;">&lt</span--> 人民推荐</a>
            </strong></p>
    </div>
</div>
